@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&display=swap');

.wrapper {
    height: 100vh;
    width: 100vw;
    background: linear-gradient(-45deg, #5E0878,#085078, #4CA59B, #1FA194);
    background-size: 400% 400%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    animation: backgroundTransition 8s ease-in-out infinite;
    font-family: 'amatic sc', sans-serif;
    color: white;
    margin: 0;
    padding: 0;
    
}

.buttons {
    width: 300px;
    margin-top: 3rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    border: 0;
}

h1 {
    text-transform: uppercase;
    letter-spacing: 4px;
}

h2 {
    text-transform: uppercase;
    letter-spacing: 4px;
}

.social-media {
    margin-top: 1rem;
    display: flex;
}

.social-media a {
    text-decoration: none;    
    color: white;
    font-size: 24px;
    padding: 1rem 4rem;
    border: 1px solid white;
    min-width: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .5s cubic-bezier(0.55, 0.025, 0.675, 0.97);
}

.social-media a:hover {
    color: #085078;
    background-color: white;
    text-decoration: none;
}

.social-media a:link {
    text-decoration:none;
}
  
.social-media a:visited {
    text-decoration: none;
}

.social-media a:active {
    text-decoration: none;
}

@keyframes backgroundTransition {
    0% {
        background-position: 0% 80%;
    }
    50% {
        background-position: 80% 100%;
    }
    100% {
        background-position: 0% 90%;
    }
}